<form (ngSubmit)="onFiltering()" class="filter-bar darkText">
    <div class="filter">
      <label for="category">Category:</label>
      <select 
        [(ngModel)]="category" name="category"
        class="select"id="category">
        <option value="">All</option>
        <option value="shirt">Shirts</option>
        <option value="skirt">Skirts</option>
        <option value="pants">Pants</option>
        <option value="dress">Dresses</option>
      </select>
    </div>
    <div class="filter">
        <label for="color">Color:</label>
        <select 
          [(ngModel)]="color" name="color"
          class="select"id="material">
          <option value="">All</option>
          <option value="white">White</option>
          <option value="black">Black</option>
          <option value="beige">Beige</option>
          <option value="red">Red</option>
          <option value="blue">Blue</option>
          <option value="green">Green</option>
          <option value="pink">Pink</option>
          <option value="Yellow">Yellow</option>
        </select>
      </div>
    <div class="filter">
      <label for="price">Price:</label>
      <select 
        [(ngModel)]="price" name="price"
        class="select" id="price">
        <option value="">Any</option>
        <option value="low">1-20$</option>
        <option value="medium">21-40$</option>
        <option value="high">41-60$</option>
      </select>
    </div>
    <button class="apply-button">Apply<i class="fas fa-filter " style="color:whitesmoke; margin-left: 5px;"></i></button>
    <div id="clear" class="clear"
    (click)="onClearing()"
    >Clear</div>
    </form>
  