.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 60px); /* Subtracting 30px left and right margin */
    background-color: transparent;
    border-radius: 5px; 
    border: 3px solid rgb(232, 243, 244);
    margin: 0 30px;
    min-height: 400px;
}
.v1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    border-radius: 5px; 
    border: 3px solid red;
    margin:10px;
}
.h1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    border-radius: 5px; 
    border: 3px solid green;
    margin-top: 20px;
}