<footer class="container">
    <div class="vcontainer">
        <div class="extrabtn" routerLink="/about">About us</div>
        <div class="extrabtn" (click)="contactus()">Contact us</div>
    </div>
    <app-button
    *ngIf="getUserService().getCurrentUserObj()!==null"
    (btnClick)="getViewService().onLoginChange()"
    routerLink="/cart"
    text=""
    textsize="15px"
    backgroundcolor="rgb(232, 243, 244)"
    textcolor="rgb(40, 92, 94)"
    width="70px"
    height="50px" 
    ><i class="fas fa-cart-shopping fa-lg" style="color:rgb(40, 92, 94);"></i></app-button>
    

    
</footer>