.container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    width: calc(100% - 60px); /* Subtracting 30px left and right margin */
    background-color: white;
    border-radius: 5px; 
    border: 3px solid cadetblue;
    margin: 0 30px;
    margin-top: 30px;
    position: fixed;
    bottom: 0;
}
.vcontainer{
    align-items: center;
    text-align: center;
    margin: 20px auto;
    width: 110px;
    background-color:transparent;
}
.extrabtn{
    margin: 10px;
    background-color: transparent;
    color: rgb(40, 92, 94);
    text-decoration-line: underline;
    cursor: pointer;
    font-weight: 600;
    font-size: 17px;
}