<header class="container">
    <app-button
    text="Login"
    textsize="15px"
    backgroundcolor="cadetblue"
    textcolor="white"
    width="70px"
    height="50px"
    ></app-button>
    <app-button
    text="Signup"
    textsize="15px"
    backgroundcolor="cadetblue"
    textcolor="white"
    width="70px"
    height="50px"
    ></app-button>
    <app-button
    text="Home"
    textsize="15px"
    backgroundcolor="cadetblue"
    textcolor="white"
    width="70px"
    height="50px"
    ></app-button>
    <app-button
    text="Profile"
    textsize="15px"
    backgroundcolor="cadetblue"
    textcolor="white"
    width="70px"
    height="50px"
    ></app-button>
    <app-button
    text="Logout"
    textsize="15px"
    backgroundcolor="cadetblue"
    textcolor="white"
    width="70px"
    height="50px"
    ></app-button>
</header>