<header class="container">
    <h1 class="shoppTitle darkText">{{title}}<i class="fa-solid fa-shop" style="color:rgb(40, 92, 94)"></i>
    </h1>
    <app-button
    text=""
    textsize="15px"
    backgroundcolor="cadetblue"
    textcolor="white"
    width="70px"
    height="50px"
    routerLink="/home"
    ><i class="fas fa-house fa-lg" style="color:whitesmoke;"></i></app-button>
    <app-button
    *ngIf="getUserService().getCurrentUserObj()===null"
    (btnClick)="getViewService().onLoginChange()"
    text="Login"
    textsize="15px"
    backgroundcolor="cadetblue"
    textcolor="white"
    width="70px"
    height="50px"
    routerLink="/login"
    ></app-button>
    <app-button
    *ngIf="getUserService().getCurrentUserObj()===null"
    (btnClick)="getViewService().onLoginChange()"
    text="Signup"
    textsize="15px"
    backgroundcolor="cadetblue"
    textcolor="white"
    width="70px"
    height="50px"
    routerLink="/signup"
    ></app-button>
    <app-button
    *ngIf="getUserService().getCurrentUserObj()!==null"
    (btnClick)="getViewService().onLoginChange()"
    text="" 
    textsize="15px"
    backgroundcolor="cadetblue"
    textcolor="white"
    width="70px"
    height="50px"
    routerLink="/profile"
    ><i class="fas fa-user fa-lg" style="color:whitesmoke;"></i></app-button>
    <app-button
    *ngIf="getUserService().getCurrentUserObj()!==null"
    (btnClick)="getViewService().onLoginChange()"
    text="Logout"
    textsize="15px"
    backgroundcolor="cadetblue"
    textcolor="white"
    width="70px"
    height="50px"
    (btnClick)="logout()"
    ></app-button>
</header>

