.v1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 60px); /* Subtracting 30px left and right margin */
    margin: 0 30px;
    background-color: transparent;
    flex-direction: column;
}

.v1 > * {
    margin: 20px 0; /* Adds vertical margin between elements in v2 */
}

.h1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  flex-direction: row;
}

.h1 > * {
    margin: 0 15px; /* Adds horizontal margin between elements in h1 */
}

.v2{
    display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 3px solid rgb(232, 243, 244);
  border-radius: 5px;
  padding: 20px;
  width: 1415px;
}

.v2 > * {
    margin: 20px 0; /* Adds vertical margin between elements in v2 */
}

