/* product.component.scss */
.product {
  display: flex;
  align-items: center;
  border: 1px solid cadetblue;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.product img {
  /* max-width: 100px; */
  /* margin-right: 10px; */
  width: 180px;
  height: auto;
}

.product-details {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  width: 200px;
  padding: 10px;
}

.product h3 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.product p {
  font-size: 18px;
  color: #666;
  margin: 5px 0;
}

.product h4{
  font-size: 15px;
  color: grey;
  font-weight: 300;
  margin: 5px 0;
}
.tocart {
  margin: 0px; /* Adjust the scale factor as needed */
}