<div class="product darkText">
    <div class="product-image">
        <img [src]="product.image" alt="Product Image">
    </div>
    <div class="product-details">
      <h3>{{ product.name }}</h3>
      <p>{{ product.price | currency }}</p>
      <h4>{{product.details}}</h4>
      <app-button class="btn tocart"
      *ngIf="getUserService().getCurrentUserObj()!==null"
      (btnClick)="getViewService().onLoginChange()"
      text="Add to cart"
      textsize="15px"
      backgroundcolor="cadetblue"
      textcolor="white"
      width="150px"
      height="30px"
      (click)="onAdd(product)"
      ><i class="fas fa-cart-shopping " style="color:whitesmoke; margin-left: 10px;"></i></app-button>
    </div>
  </div>
  