.v{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  flex-direction: column;
}

.h {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-bottom: 20px; /* Add spacing between horizontal containers */
  }