<div class="formcontainer">
    <div class=" formtitle midText">Signup</div>
 <form (ngSubmit)="signup()">
     <div class="form-control">
         <input type="text" name="user" 
         id="user" [(ngModel)]="username" placeholder="Username"/>
     </div>
     <div class="form-control">
         <input type="password" name="pass" 
          id="pass" [(ngModel)]="password" placeholder="Password"/>
     </div>
     <div class="form-control">
        <input type="password" name="confirmpass" 
         id="confirmpass" [(ngModel)]="confirmpassword" placeholder="Confirm Password"/>
    </div>
    <div class="form-control">
        <input type="text" name="name" 
         id="name" [(ngModel)]="name" placeholder="Full Name"/>
    </div>
    <div class="form-control">
        <input type="email" name="email" 
         id="email" [(ngModel)]="email" placeholder="Email Address"/>
    </div>
    <div class="form-control">
        <input type="number" name="phone" 
         id="phonw" [(ngModel)]="phone" placeholder="Phone Number"/>
    </div>
    <div class="form-control">
        <input type="text" name="address" 
         id="address" [(ngModel)]="address" placeholder="Address"/>
    </div>
     <button type="submit" class="loginbtn">Join</button>
 </form> 
 </div>