<div class="formcontainer">
    <div class=" formtitle midText">Signup</div>
 <form class="">
     <div class="form-control">
         <input type="text" name="user" 
         id="user" placeholder="Username"/>
     </div>
     <div class="form-control">
         <input type="password" name="pass" 
          id="pass" placeholder="Password"/>
     </div>
     <div class="form-control">
        <input type="password" name="confirmpass" 
         id="confirmpass" placeholder="Confirm Password"/>
    </div>
    <div class="form-control">
        <input type="text" name="name" 
         id="name" placeholder="Full Name"/>
    </div>
    <div class="form-control">
        <input type="email" name="email" 
         id="email" placeholder="Email Address"/>
    </div>
    <div class="form-control">
        <input type="number" name="phone" 
         id="phonw" placeholder="Phone Number"/>
    </div>
    <div class="form-control">
        <input type="text" name="address" 
         id="address" placeholder="Address"/>
    </div>
     <button class="loginbtn">Join</button>
 </form> 
 </div>