 header {
  position: fixed;
  top: 0;
  z-index: 100; /* Ensure the header is on top */
 }  
button{
  cursor: pointer;
}
 footer {
  position: fixed;
  bottom: 0;
  z-index: 100; 
} 
.maincontainer{
  background-color: transparent;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96%;
  height: 560px;
  margin-left: 10px;
  align-items: center;
  max-height: 560px; /* Set a maximum height */
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}
.darkText{
    color:rgb(40, 92, 94);
   
}
.midText{
  color:cadetblue;
}
.lightText{
    color:rgb(232, 243, 244);
}

.shopTitle{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color:rgb(40, 92, 94);
    margin-right: 780px;
}
.btn{
    border-color: transparent;
    font-weight: 600;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.form-control {
    margin: 5px 0;
  }

  
.form-control input {
    width: 200px;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
    border-color: rgb(232, 243, 244);
    border-radius: 5px;
}
  
  .form-control-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .form-control-check input {
    flex: 2;
    height: 20px;
  }

.formtitle{
    font-weight: 650;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.formcontainer{
  text-align: center;
  width: 380px;
  height: auto;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px  rgb(40, 92, 94);
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 40px;
}
.formcontent{
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.loginbtn{
  font-size: 18px;
  transition: ease-in all 0.2s;
  background-color: cadetblue;
  color: whitesmoke;
  padding: 12px;
  width: 96%;
  border: cadetblue;
  border-radius: 5px;
  cursor: pointer;
  margin: 25px;
  margin-left: 4px;
}
.loginbtn:hover{
  background-color:   rgb(232, 243, 244)  ;
  color: rgb(40, 92, 94);
  font-weight: 600;
}


/* Define scrollbar styles for WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: whitesmoke; /* Set the background color of the track */
}

::-webkit-scrollbar-thumb {
  background:  rgb(232, 243, 244); /* Set the color of the scrollbar thumb */
  border-radius: 5px; /* Add rounded corners to the thumb */
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
